<!-- views/products/show.ejs -->
<div class="row">
    <div class="col-md-6 ">
        <div class="d-flex align-items-center justify-content-center h-100 py-4">
            <img src="/api/image/<%= product.productNumber %>" 
                class="img-fluid cursor-pointer product-image"
                alt="<%= product.name %>"
                style="max-width: 400px; width: 100%; object-fit: contain;">
        </div>
    </div>
    <div class="col-md-6">
        <h1><%= product.name %></h1>
        <p class="fs-2 text-danger">NT$ <%= product.basePrice %></p>
        <div class="mb-3">
            <label class="form-label">數量</label>
            <input type="number" class="form-control" style="width: 100px" min="1" value="1" max=<%= product.quantity%>>
        </div>
        <button class="btn btn-primary">加入購物車</button>
        
        <div class="mt-4">
            <h3>商品說明</h3>
            <% if(product.description && product.description.length > 0) { %>
                <p><%= product.description %></p>
            <% } else { %> 
                <li class="list-group-item">暫無商品說明</li>
            <% } %>
            
        </div>
        
        <div class="mt-4">
            <h4>商品規格</h4>
            <ul class="list-group">
                <% if (product.specification && product.specification.length > 0) { %>
                    <strong><%= product.specification %></strong>
                <% } else { %>
                    <li class="list-group-item">暫無規格信息</li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
